body{
	font-weight: 300;
	position: relative;
}
/*Page Navbar*/
header .dropdown-menu{
	display: none;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    min-width: 218px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
header .dropdown-menu a{
    padding: 5px 5px 5px 15px;
    display: block;
    color: #48fff0;
    text-decoration:none;
}
header .dropdown-menu a:hover{
	background: linear-gradient(to right, #02111d, #037bb5, #02111d);
}
header .dropdown:hover .dropdown-menu{
	display: block;
}
.navbar{
	padding: 0px 0px 0px 0px;
}
.navbar-header img{
	padding: 5px 0px 5px 0px;
	width: 100px;
	background: 80% fixed;
}
.nav{
	padding: 28px 0px 0px 0px;
}
.navbar-fixed-top.scrolled{
  background-color:rgba(0,0,0,1);
}
header .navbar-default{
	background-color: transparent;
	border: none;
}
header .navbar-default .navbar-nav a{
	color: white;	
}
header .navbar-default .navbar-nav a:hover{
	color: #5cbfcc;
}

/*Navbar Toggle*/
header .navbar-toggle{
	background-color: #5cbfcc;
}
header .navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
@media only screen and (max-width: 768px){
		header .navbar-collapse.in{
		background-color: rgba(0,0,0,.5);
	}
}
/* Contact Form*/
.contact{
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url('../images/background.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 200px;
	padding-bottom: 200px;
}
.contact-title h1{
	font-family: 'Courgette', cursive;
	text-align: center;
	color :  #ff5722;
	font-size: 40px;
}
form{
	margin-top: 50px;
}
.form-control{
	background: transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid gray;	
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}
form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}

/*map*/
.add{
	padding-top: 10px;
}
.add h2{
	font-family: 'Courgette', cursive;
	color: #ff5722;
	font-size: 31px;
}
.add p{
	font-family: 'Courgette', cursive;
	font-size: 20px;
	color: #eeebbe;
}
.col-sm-12{
	margin: auto;
}

/*Page Footer*/
footer{
	background-color: black; 
	padding-top: 16px;
	padding-bottom: 15px;
}
footer img{
	width: 35px;
}
footer .text{
	color: white;
	font-size: 15px;
}
@media only screen and (max-width: 400px){
	.contact{
		padding-top: 150px;	
		padding-bottom: 100px;	
	}
	.col-sm-3 h2{
		padding-top: 40px;	
	}
}