body{
	font-weight: 300;
	position: relative;
}
/*Page Navbar*/
header .dropdown-menu{
	display: none;
    position: absolute;
    background-color: rgba(0,0,0,.9);
    min-width: 218px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
header .dropdown-menu a{
    padding: 5px 5px 5px 15px;
    display: block;
    color: #48fff0;
    text-decoration:none;
}
header .dropdown-menu a:hover{
	background: linear-gradient(to right, #02111d, #037bb5, #02111d);
}
header .dropdown:hover .dropdown-menu{
	display: block;
}
.navbar-header img{
	padding: 5px 0px 5px 0px;
	width: 100px;
	background: 80% fixed;
}
.nav{
	padding: 28px 0px 0px 0px;
}
.navbar-fixed-top.scrolled{
  background-color:rgba(0,0,0,1);
}
header .navbar-default{
	background-color: transparent;
	border: none;
}
header .navbar-default .navbar-nav a{
	color: white;	
}
header .navbar-default .navbar-nav a:hover{
	color: #5cbfcc;
}

/*Navbar Toggle*/
header .navbar-toggle{
	background-color: #5cbfcc;
}
header .navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
@media only screen and (max-width: 768px){
		header .navbar-collapse.in{
		background-color: rgba(0,0,0,.5);
	}
}

/*Page result*/
#tv{
	width: 100%;
	height: auto;
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url('../images/tv.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
}
#tv h1{
	font-family: 'Acme', sans-serif;
	font-size: 7.5vmin;
	color: #e7ec51;
	font-weight: bolder;
	text-align: center;
	padding: 250px 0px 90px 0px;
}
#tv p{
	color: white;
	font-size: 3vmin;
	text-align: justify;
}
#tv .bttn{
	padding: 50px 30px 130px 0px;
}
#tv button{
	border-radius: 5px;
	color: black;
	border: 0px;
} 

/*Page Footer*/
footer{
	background-color: black; 
	padding-top: 16px;
	padding-bottom: 15px;
}
footer img{
	width: 35px;
}
footer .text{
	color: white;
	font-size: 15px;
}

@media only screen and (max-width: 400px)
{
	#tv h1{
		padding: 155px 0px 85px 0px;
		font-size: 15vmin;
	}
	#tv p{
		/*padding: 155px 0px 90px 0px;*/
		font-size: 5.5vmin;
	}
	#tv .bttn{
		padding: 60px 0px 100px 16px;
	}
	.navbar-header img{
		width: 72px;
		padding: 0px 0px 5px 20px;
	}
}




