body{
	font-weight: 300;
	position: relative;
}
/*Page Navbar*/
header .dropdown-menu{
	display: none;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    min-width: 218px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
header .dropdown-menu a{
    padding: 5px 5px 5px 15px;
    display: block;
    color: #48fff0;
    text-decoration:none;
}
header .dropdown-menu a:hover{
	background: linear-gradient(to right, #02111d, #037bb5, #02111d);
}
header .dropdown:hover .dropdown-menu{
	display: block;
}
.navbar{
	padding: 0px 0px 0px 0px;
}
.navbar-header img{
	padding: 5px 0px 5px 0px;
	width: 100px;
	background: 80% fixed;
}
.nav{
	padding: 28px 0px 0px 0px;
}
.navbar-fixed-top.scrolled{
  background-color:rgba(0,0,0,1);
}
header .navbar-default{
	background-color: transparent;
	border: none;
}
header .navbar-default .navbar-nav a{
	color: white;	
}
header .navbar-default .navbar-nav a:hover{
	color: #5cbfcc;
}

/*Navbar Toggle*/
header .navbar-toggle{
	background-color: #5cbfcc;
}
header .navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
@media only screen and (max-width: 768px){
		header .navbar-collapse.in{
		background-color: rgba(0,0,0,.5);
	}
}

/*Page social*/
#social{
	width: 100%;
	height: auto;
	background-image: url('../images/social.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	text-align: center;
}
#social h1{
	padding-top: 190px;
	color: white;
	font-size: 4vmin;
}
#social p{
    font-family: 'Acme', sans-serif;
	font-size: 6.5vmin;
	color: #f7d235;
	padding: 0px 0px 10px 0px;
	font-weight: bolder;		
}
.btn{
	margin-bottom: 55px;
	border-radius: 0px;
	border: none;
	padding: 15px 35px 15px 35px;
}

/*Page socialm*/
#socialm{
	padding-top: 60px;
	padding-bottom: 50px;
}
#socialm li,p{
	font-size: 18px;
}
#socialm h2{
	padding-bottom: 15px;
	color: #43b9c8;
}
#socialm img{
	padding-top: 20px;
	margin: auto;
}

/*Page Footer*/
footer{
	background-color: black; 
	padding-top: 16px;
	padding-bottom: 15px;
}
footer img{
	width: 35px;
}
footer .text{
	color: white;
	font-size: 15px;
}

@media only screen and (max-width: 400px){
	#social h1{
		padding-top: 140px;
		font-size: 5vmin;
	}
	#socialm h2{
		font-size: 7vmin;
	}
	#socialm p{
		font-size: 5.5vmin;
	}
	#socialm h3{
		font-size: 7vmin;
	}
	#socialm li{
		font-size: 5.5vmin;
	}
}