body{
	font-weight: 300;
	position: relative;
}
/*Page Navbar*/
header .dropdown-menu{
	display: none;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    min-width: 218px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
header .dropdown-menu a{
    padding: 5px 5px 5px 15px;
    display: block;
    color: #48fff0;
    text-decoration:none;
}
header .dropdown-menu a:hover{
	background: linear-gradient(to right, #02111d, #037bb5, #02111d);
}
header .dropdown:hover .dropdown-menu{
	display: block;
}
.navbar-header img{
	padding: 5px 0px 5px 0px;
	width: 100px;
	background: 80% fixed;
}
.nav{
	padding: 28px 0px 0px 0px;
}
.navbar-fixed-top.scrolled{
  background-color:rgba(0,0,0,1);
}
header .navbar-default{
	background-color: transparent;
	border: none;
}
header .navbar-default .navbar-nav a{
	color: white;	
}
header .navbar-default .navbar-nav a:hover{
	color: #5cbfcc;
}

/*Navbar Toggle*/
header .navbar-toggle{
	background-color: #5cbfcc;
}
header .navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
@media only screen and (max-width: 768px){
		header .navbar-collapse.in{
		background-color: rgba(0,0,0,.5);
	}
}

/*page tv*/
.tv{
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url('../images/tv.jpeg');
	background-size: cover;
	background-position: center;
	padding-top: 220px;
	padding-bottom: 200px;
}
.tv h1{
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-size: 8vmin;
	color: #e1e32b;
	padding-bottom: 35px;
	font-weight: bolder;
}
.tv p{
	color: white;
	font-size: 3vmin;
	text-align: center;
}
button{
	border-radius: 5px;
	color: black;
	border:inherit;
}
.tv .col-sm-5{
	padding-top: 90px;
	padding-left: 45px;
}

@media only screen and (max-width: 400px){
	.tv{
		padding: 150px 0px 70px 0px;
	}
	.tv .col-sm-5{
		padding-top: 50px;
	}
	.navbar-header img{
		width: 72px;
		padding: 3px 0px 0px 20px;
	}
	.tv h1{
		font-size: 11vmin;
	}
	.tv p{
		font-size: 5.5vmin;
	}

}

/*Page Footer*/
footer{
	background-color: black; 
	padding-top: 16px;
	padding-bottom: 15px;
}
footer img{
	width: 35px;
}
footer .text{
	color: white;
	font-size: 15px;
}